<a href="https://colab.research.google.com/github/soueuwilliam/IMD1151-CienciaDeDados/blob/main/Atividades/%5BAtividade_01%5D_IMD1151_Notebook_Introdu%C3%A7%C3%A3o_ao_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## IMD1151 - Notebook 03 - Introdução ao pandas

Notebook de **Introdução ao pandas** das aulas de Fundamentos de Python para a turma T01 da disciplina IMD1151 - Ciências de Dados do IMD/UFRN.

Este notebook contém instruções, códigos e atividades para o aluno aprender ou revisar os comandos básicos em Python.

**Atenção:** a entrega do notebook preenchido faz parte da nota da 1ª atividade.

**Faça uma cópia deste notebook no seu Google Drive.**

### Importação do pandas:



Você lembra da **principal desvantagem** do uso de arrays em NumPy para algumas aplicações de Ciência de Dados?

**Desvantagem do array do NumPy**:

*   **NÃO É POSSÍVEL** armazenar colunas de **diferentes tipos de dados** (inteiros, floats, strings, ...).

---


O uso do objeto **DataFrame** do **pandas** é a melhor opção para manipular conjunto de dados com diferentes tipos.

Pandas é um pacote Python popular para Ciência de Dados, e por um bom motivo: ele oferece estruturas de dados poderosas e flexíveis que facilitam a manipulação e análise de dados.

O tempo **pd** é normalmente usado para pandas.

In [14]:
import pandas as pd

### O objeto DataFrame do pandas:

O objeto principal do pacote **pandas** é o **DataFrame**. O DataFrame (DF) é um tipo de estrutura de dados primária do pandas. DataFrames são objetos pandas bidimensionais.

Você pode usar a função [pandas.read_csv()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) para ler um arquivo CSV e converter em um **objeto DataFrame** do pandas.

```
pd.read_csv("file.csv")
```

Faça o upload do arquivo **f500.csv** no seu ambiente Colab e execute o código a seguir para ler o arquivo.

Link: [f500.csv](https://drive.google.com/file/d/1cdHyO_pVyQ7ggQ557HlIrz4vJlAcLhyC/view?usp=sharing)

In [13]:
f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None

Neste notebook, você irá analisar **os dados da lista Global 500, edição 2021, da revista Fourtune**, que classifica as 500 maiores empresas do mundo por receita. Essa lista é amplamente reconhecida como uma das referências mais autoritárias para avaliar o tamanho e a força das empresas em uma escala global.

**Escreva um código abaixo para** imprimir o tipo do **objeto "f500"** usando a função **type()** e o tamanho do objeto usando a função **.shape :**

In [18]:
# escreva seu código aqui
print(type(f500))
f500.shape

<class 'pandas.core.frame.DataFrame'>

(500, 16)

Se o resultado da função .shape apresentou um objeto com 500 linhas e 16 colunas, **parabéns!** você leu o arquivo **"f500.csv"** correto.


---

A imagem abaixo apresenta um recorte do dataset f500:

![image.png]()

As colunas da lista são:
* **company** - nome da empresa.
* **rank** - a classificação da empresa na lista Global 500.
* **revenues** - receita total da empresa no ano fiscal, em milhões de dólares (USD).
* **revenue_change** – a variação percentual na receita entre o ano fiscal atual e o anterior.
* **lucros** - lucro líquido do exercício, em milhões de dólares (USD).
* **ceo** - CEO (Chief Executive Officer) da empresa.
* **industry** - a indústria em que a empresa opera.
* **sector** - o setor em que a empresa atua.
* **previous_rank** - a classificação da empresa no ano anterior.
* **country** - o país em que a empresa está sediada.
* **hq_location** – a cidade e o país (ou cidade e estado para os EUA) onde a empresa está sediada.
* **employees** - total de empregados (equivalente a tempo integral, se disponível) no final do exercício fiscal.

---

Existem algumas função do **pandas** úteis para obter informações do **dataframe**:

*   O método [DataFrame.head()](http://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html) permite visualizar as primeiras linhas do dataframe. O método **DataFrame.head()** também aceita um parâmetro inteiro que especifica o número de linhas. Por exemplo, o comando **f500.head(8)** mostra as primeiras 8 linhas.
*   O método [DataFrame.tail()](http://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html) mostra as últimas linhas do dataframe. Similiar ao .head(), você pode incluir um parâmetro para especificar o número de linhas.

In [19]:
f500.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

**Escreva um código abaixo para mostrar as 7 primeiras linhas do dataframe f500:**

In [20]:
# escreva seu código aqui
f500.head(7)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646

**Escreva um código abaixo para mostrar as 9 últimas linhas do dataframe f500:**

In [22]:
# escreva seu código aqui
f500.tail(9)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Dollar General,492,21987,7.9,1251.1,11672,7.4,Todd J. Vasos,Specialty Retailers,Retailing,0,USA,"Goodlettsville, TN",http://www.dollargeneral.com,1,121000,5406
Telecom Italia,493,21941,-17.4,1999.4,74295,NaN,Flavio Cattaneo,Telecommunications,Telecommunications,404,Italy,"Milan, Italy",http://www.telecomitalia.com,18,61227,22366
Xiamen ITG Holding Group,494,21930,34.3,35.6,12161,-25.1,Xu Xiaoxi,Trading,Wholesalers,0,China,"Xiamen, China",http://www.itgholding.com.cn,1,18454,1066
Xinjiang Guanghui Industry Investment,495,21919,31.1,251.8,31957,49.9,Shang Jiqiang,Trading,Wholesalers,0,China,"Urumqi, China",http://www.guanghui.com,1,65616,4563
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

Os métodos **.head()** e **.tail**() permite a visualização de parte do Dataframe.

Já que você visualizou as 16 colunas do dataframe, é interessante identificar os tipos de dados de cada coluna. O método [DataFrame.dtypes](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html) apresenta os tipos de dados.

```
f500.dtypes
```

**Atenção:** diferente do array do NumPy, o objeto DataFrame do pandas permite armazenar diferentes tipos de dados em um mesmo objeto.

In [23]:
f500.dtypes

rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

Você pode usar o método [DataFrame.info()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html) para obter mais informações sobre o DataFrame.

**Escreva um código abaixo para obter informações sobre o DataFrame f500 com o método .info():**

In [34]:
# escreva seu código aqui
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 82.6+ KB

### Seleção de dados com DataFrame

Existem dois métodos no pandas que permite selecionar parte do DataFrame: [DataFrame.loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) e [DataFrame.iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html).


*   O método **df.loc[]** permite acesso aos dados através dos rótulos (labels) das linhas e colunas.
*   O método **df.iloc[]** permite acesso aos dados através dos índices das linhas e colunas.


Exemplos:

```
df.loc['row1', 'col4']
```

ou

```
df.iloc[0,3]
```

In [26]:
print(f500.iloc[0,2])

0.8

In [27]:
f500.iloc[:,2:6].head()

                          revenue_change  profits  assets  profit_change
Walmart                              0.8  13643.0  198825           -7.2
State Grid                          -4.4   9571.3  489838           -6.2
Sinopec Group                       -9.1   1257.9  310726          -65.0
China National Petroleum           -12.3   1867.5  585619          -73.7
Toyota Motor                         7.7  16899.3  437575          -12.3

**Escreva um código abaixo para:**
1.   Selecionar a linha da **'Toyota Motor**' usando o método .loc[] e atribuir a variável **f500_toyota**.
2.   Selecionar todas as linhas da coluna **"country"** do dataframe f500 e atribuir a variável **"paises"** usando o método .loc[].
3.   Selecionar as colunas **'industry'**, **'sector'**, **'previous_rank'** e **'country'** usando o método .iloc[] e atribuir a variável **"f500_inds"**.

In [37]:
# escreva seu código aqui
f500_toyota = f500.loc['Toyota Motor']
paises = f500.loc[:,'country']
f500_inds = f500.loc[:,['industry', 'sector', 'previous_rank' , 'country']]

Os métodos **.loc** e **.iloc** retornam objetos DataFrame ou Series do pandas.

* Seleção de uma única coluna: retorna uma série.
* Seleção de múltiplas colunas: retorna um DataFrame.
* Seleção de uma única linha: retorna uma série.
* Seleção de múltiplas linhas: retorna um DataFrame.

A variável **"f500_inds"** deve ser um objeto do tipo DataFrame. Execute os comandos abaixo para verificar.

In [38]:
type(f500_inds)

pandas.core.frame.DataFrame

In [39]:
f500_inds.head()

,industry,sector,previous_rank,country
Walmart,General Merchandisers,Retailing,1,USA
State Grid,Utilities,Energy,2,China
Sinopec Group,Petroleum Refining,Energy,4,China
China National Petroleum,Petroleum Refining,Energy,3,China
Toyota Motor,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan

É possível selecionar parte do **DataFrame** a partir de condições usando os métodos **.loc[**] e **.iloc[]**.

O código abaixo seleciona as empresas da China no dataframe F500:

In [43]:
f500_china = f500.loc[(f500['country'] == 'China')]
f500_china.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Industrial & Commercial Bank of China,22,147675,-11.7,41883.9,3473238,-5.0,Gu Shu,Banks: Commercial and Savings,Financials,15,China,"Beijing, China",http://www.icbc-ltd.com,19,461749,283438
China State Construction Engineering,24,144505,3.1,2492.9,201269,10.7,Guan Qing,"Engineering, Construction",Engineering & Construction,27,China,"Beijing, China",http://www.cscec.com,6,263915,15344

**Escreva um código abaixo para:**

1. **Selecionar as empresas do 'Brazil' no dataframe F500 usando o método .loc[] e atribuir à variável "f500_brazil".**
2. **Imprimir as 5 primeiras empresas do dataframe f500_brazil.**

In [45]:
# escreva seu código aqui
f500_brazil = f500.loc[(f500['country'] == 'Brazil')]
f500_brazil.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Petrobras,75,81405,-16.3,-4838.0,246983,NaN,Pedro Pullen Parente,Petroleum Refining,Energy,58,Brazil,"Rio de Janeiro, Brazil",http://www.petrobras.com.br,23,68829,76779
Itau Unibanco Holding,113,66876,21.4,6666.4,415972,-13.7,Candido Botelho Bracher,Banks: Commercial and Savings,Financials,159,Brazil,"Sao Paulo, Brazil",http://www.itau.com.br,4,94779,37680
Banco do Brasil,151,58093,-13.4,2013.8,426416,-52.3,Paulo Rogerio Caffarelli,Banks: Commercial and Savings,Financials,115,Brazil,"Brasilia, Brazil",http://www.bb.com.br,23,100622,26551
Banco Bradesco,154,57443,31.3,5127.9,366418,-5.7,Luiz Carlos Trabuco Cappi,Banks: Commercial and Savings,Financials,209,Brazil,"Osasco, Brazil",http://www.bradesco.com.br,21,94541,32369
JBS,191,48825,-0.1,107.7,31605,-92.3,Wesley Mendonca Batista,Food Production,"Food, Beverages & Tobacco",185,Brazil,"Sao Paulo, Brazil",http://jbss.infoinvest.com.br,8,237061,7307

Existem diversos métodos no pacote **pandas** para explorar o dataframe. O
método [pandas.unique()](https://pandas.pydata.org/docs/reference/api/pandas.unique.html) é um deles.

O método **.unique()** fornece a lista de valores presentes em uma coluna do dataframe. Por exemplo, o código abaixo imprime todas os países presentes na coluna 'country' no dataframe f500.

In [46]:
print(f500['country'].unique())

['USA' 'China' 'Japan' 'Germany' 'Netherlands' 'Britain' 'South Korea'
 'Switzerland' 'France' 'Taiwan' 'Singapore' 'Italy' 'Russia' 'Spain'
 'Brazil' 'Mexico' 'Luxembourg' 'India' 'Malaysia' 'Thailand' 'Australia'
 'Belgium' 'Norway' 'Canada' 'Ireland' 'Indonesia' 'Denmark'
 'Saudi Arabia' 'Sweden' 'Finland' 'Venezuela' 'Turkey' 'U.A.E' 'Israel']

**Escreva um código abaixo para:**

1. **Calcular a média de quantidade de funcionário nas empresas do Brasil na lista Global 500.**
2. **Imprimir todos os setores das empresas do Brasil presentes na lista Global 500.**

In [50]:
# escreva seu código aqui
print(f500_brazil['employees'].mean())
print(f500_brazil['sector'].unique())

97723.85714285714
['Energy' 'Financials' 'Food, Beverages & Tobacco']

### Operações matemáticas:

As operações com os objetos Series ou Dataframe do **pandas** também são operadores vetorizadas.

Algumas operações estão listadas a seguir:
- [Series.max()](http://pandas.pydata.org/docs/reference/api/pandas.Series.max.html) and [DataFrame.max()](http://pandas.pydata.org/docs/reference/api/pandas.DataFrame.max.html)
- [Series.min()](http://pandas.pydata.org/docs/reference/api/pandas.Series.min.html) and [DataFrame.min()](http://pandas.pydata.org/docs/reference/api/pandas.DataFrame.min.html)
- [Series.mean()](http://pandas.pydata.org/docs/reference/api/pandas.Series.mean.html) and [DataFrame.mean()](http://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html)
- [Series.median()](http://pandas.pydata.org/docs/reference/api/pandas.Series.median.html) and [DataFrame.median()](http://pandas.pydata.org/docs/reference/api/pandas.DataFrame.median.html)
- [Series.sum()](http://pandas.pydata.org/docs/reference/api/pandas.Series.sum.html) and [DataFrame.sum()](http://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html)


O código abaixo calcula a média das receitas e dos lucros das empresas da lista Global 500.

In [52]:
medias = f500[["revenues", "profits"]].mean()
medias

revenues    55416.358000
profits      3055.203206
dtype: float64

**Escreva um código abaixo para calcular as médias e medianas das receitas das empresas do Brasil na lista Global 500, edição 2021:**

In [60]:
# escreva seu código aqui
print(f500[f500['country'] == 'Brazil']['revenues'].mean())
print(f500[f500['country'] == 'Brazil']['revenues'].median())

52024.57142857143
57443.0

### Atribuição de valores no Dataframe:

Quando usamos NumPy, as mesmas operações de seleção podem ser usadas para atribuição. Veja o exemplo abaixo:

```python
my_array = np.array([1, 2, 3, 4])

# seleção
print(my_array[0])

# atribuição
my_array[0] = 99
```

O mesmo ocorre no **pandas**. Veja o exemplo abaixo:

```python
>>> top5_rank_revenue = f500[["rank", "revenues"]].head()

>>> print(top5_rank_revenue)
                              rank  revenues
    Walmart                      1    485873
    State Grid                   2    315199
    Sinopec Group                3    267518
    China National Petroleum     4    262573
    Toyota Motor                 5    254694

>>> top5_rank_revenue["revenues"] = 0

>>> print(top5_rank_revenue)
                              rank  revenues
    Walmart                      1         0
    State Grid                   2         0
    Sinopec Group                3         0
    China National Petroleum     4         0
    Toyota Motor                 5         0
    
```
Quando selecionamos uma coluna inteira por rótulo (label) e realizamos uma atribuição, o valor é atribuído para cada item da coluna.

É possível atribuir para linha e coluna específica.

```python
>>> top5_rank_revenue.loc["Sinopec Group", "revenues"] = 999

>>> print(top5_rank_revenue)
                              rank  revenues
    Walmart                      1         0
    State Grid                   2         0
    Sinopec Group                3       999
    China National Petroleum     4         0
    Toyota Motor                 5         0
```

Se atribuirmos um valor usando um índice ou rótulo de coluna **que não existe**, o pandas criará uma nova linha ou coluna em nosso dataframe. Veja o exemplo abaixo:

```python
>>> top5_rank_revenue["year_founded"] = 0

>>> print(top5_rank_revenue)

                              rank  revenues  year_founded
    Walmart                      1         0             0
    State Grid                   2         0             0
    Sinopec Group                3       999             0
    China National Petroleum     4         0             0
    Toyota Motor                 5         0             0

>>> top5_rank_revenue.loc["My New Company"] = 555

>>> print(top5_rank_revenue)

                              rank  revenues  year_founded
    Walmart                      1         0             0
    State Grid                   2         0             0
    Sinopec Group                3       999             0
    China National Petroleum     4         0             0
    Toyota Motor                 5         0             0
    My New Company             555       555           555
```

**Escreva um código abaixo para:**
1. **Adicionar uma nova coluna "revenues_b" ao dataframe "f500" usando a divisão vetorizada para dividir os valores de receitas ("revenue") por 1000 (convertendo de milhões para bilhões).**
2. **A empresa "JBS" do Brasil mudou o endereço do site para "jbs.com.br". Atualize o campo "website" da empresa.**

In [64]:
# escreva seu código aqui
f500['revenues_b'] = f500['revenues']/1000
f500.loc['JBS','website'] = 'jbs.com.br'
f500.loc['JBS']

rank                                              191
revenues                                        48825
revenue_change                                   -0.1
profits                                         107.7
assets                                          31605
profit_change                                   -92.3
ceo                           Wesley Mendonca Batista
industry                              Food Production
sector                      Food, Beverages & Tobacco
previous_rank                                     185
country                                        Brazil
hq_location                         Sao Paulo, Brazil
website                                    jbs.com.br
years_on_global_500_list                            8
employees                                      237061
total_stockholder_equity                         7307
revenues_b                                     48.825
Name: JBS, dtype: object

### Explorar o Dataframe

Uma forma de explorar os objetos Series ou Dataframe do **pandas** é usando o método **.describe()**. Esse método retorna algumas estatísticas descritivas sobre os dados no objeto, seja [Series.describe()](http://pandas.pydata.org/docs/reference/api/pandas.Series.describe.html) ou [DataFrame.describe()](http://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html).

O exemplo abaixo mostra as informações sobre os dados de '**revenues**' do dataframe. O método deve retornar a quantidade de valores não nulos contidos no objeto, a média e o desvio padrão, juntamente com os valores mínimo, máximo e quartil.

In [65]:
revs = f500["revenues"]
revs.describe()

count       500.000000
mean      55416.358000
std       45725.478963
min       21609.000000
25%       29003.000000
50%       40236.000000
75%       63926.750000
max      485873.000000
Name: revenues, dtype: float64

O método **.describe()** também é aplicado para valores não numéricos. Veja o exemplo abaixo que apresenta as estatísticas descritivas da coluna **'country'**.

In [66]:
f500["country"].describe()

count     500
unique     34
top       USA
freq      132
Name: country, dtype: object

Além da quantidade de valores não nulos, o método retornou 3 valores sobre os dados:

* **unique**: quantidade de valores diferentes no conjunto de dados.
* **top**: o valor mais frequente no conjunto de dados.
* **freq**: a quantidade de amostras do valor mais frequente. Nesse caso, o valor "USA".

---

O método .**describe()** pode ser aplicada a todo o conjunto de dados.

```
df.describe()
```

**Escreva um código abaixo para imprimir as estatísticas descritivas de todo o dataframe f500 usando o método .describe().**

In [67]:
# escreva seu código aqui
f500.describe()

,rank,revenues,revenue_change,profits,assets,profit_change,previous_rank,years_on_global_500_list,employees,total_stockholder_equity,revenues_b
count,500.000000,500.000000,498.000000,499.000000,5.000000e+02,436.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000
mean,250.500000,55416.358000,4.538353,3055.203206,2.436323e+05,24.152752,222.134000,15.036000,1.339983e+05,30628.076000,55.416358
std,144.481833,45725.478963,28.549067,5171.981071,4.851937e+05,437.509566,146.941961,7.932752,1.700878e+05,43642.576833,45.725479
min,1.000000,21609.000000,-67.300000,-13038.000000,3.717000e+03,-793.700000,0.000000,1.000000,3.280000e+02,-59909.000000,21.609000
25%,125.750000,29003.000000,-5.900000,556.950000,3.658850e+04,-22.775000,92.750000,7.000000,4.293250e+04,7553.750000,29.003000
50%,250.500000,40236.000000,0.550000,1761.600000,7.326150e+04,-0.350000,219.500000,17.000000,9.291050e+04,15809.500000,40.236000
75%,375.250000,63926.750000,6.975000,3954.000000,1.805640e+05,17.700000,347.250000,23.000000,1.689172e+05,37828.500000,63.926750
max,500.000000,485873.000000,442.300000,45687.000000,3.473238e+06,8909.500000,500.000000,23.000000,2.300000e+06,301893.000000,485.873000

## Considerações finais

Este Notebook 03 finaliza a aula de Fundamentos em Python para a turma T01 de Ciências de Dados (IMD1151) do IMD/UFRN, semestre 2024.2.

**Atenção:** os discentes devem enviar o notebook preenchido na tarefa disponível no SIGAA.

Quer saber mais sobre **PANDAS** Python? Acesse: https://pandas.pydata.org/

Mais informações, entrar em contato com o prof. Daniel Sabino.